<ion-header>
  <!-- <app-header></app-header> -->
  <app-create-offer-header (continueClick)="submitOfferForm()"></app-create-offer-header>
</ion-header>

<ion-content *ngIf="candidate">
  <div class="page-container">
    <!-- LEFT: Job Details -->
    <div class="left-section">
      <h6>Job Details</h6>
      <ion-list lines="none">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label position="stacked">Legal Entity</ion-label>
                <ion-input [value]="candidate?.jobDetailsForm?.BussinessUnit" disabled></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label position="stacked">Reporting Manager (optional)</ion-label>
                <ion-input value="Viswanatha Sastry Kaki"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label position="stacked">Job Title</ion-label>
                <ion-select [value]="candidate?.jobDetailsForm?.JobTitle">
                  <ion-select-option value="UI/UX Designer">UI/UX Designer</ion-select-option>
                  <ion-select-option value="UI Developer">UI Developer</ion-select-option>
                  <ion-select-option value="Software Engineer">Software Engineer</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>

            <ion-col size="6">
              <ion-item>
                <ion-label position="stacked">Worker Type</ion-label>
                <ion-select [value]="candidate?.jobDetailsForm?.WorkType">
                  <ion-select-option value="Perminent">Permanent</ion-select-option>
                  <ion-select-option value="Contract">Contract</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label position="stacked">Department</ion-label>
                <ion-select [value]="candidate?.jobDetailsForm?.Department">
                  <ion-select-option value="Finance">Finance</ion-select-option>
                  <ion-select-option value="Human Resources">Human Resources</ion-select-option>
                  <ion-select-option value="IT Development">IT Development</ion-select-option>
                  <ion-select-option value="Marketing">Marketing</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>

            <ion-col size="6">
              <ion-item>
                <ion-label position="stacked">Location</ion-label>
                <ion-select [value]="candidate?.jobDetailsForm?.JobLocation">
                  <ion-select-option value="Site 2 - Visakhapatnam - Day Shift">Site 2 - Visakhapatnam - Day
                    Shift</ion-select-option>
                  <ion-select-option value="Site 1 - Hyderabad - Night Shift">Site 1 - Hyderabad - Night
                    Shift</ion-select-option>
                  <ion-select-option value="Site 3 - Visakhapatnam - Day Shift">Site 3 - Visakhapatnam - Day
                    Shift</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- OFFER DETAILS -->
        <h6>Offer Details</h6>
        <form [formGroup]="offerForm">
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label position="stacked">Date of Joining</ion-label>
                <ion-input id="date-input" formControlName="DOJ" [value]="selectedDate" readonly>
                </ion-input>
              </ion-item>

              <ion-popover #datePopover trigger="date-input" show-backdrop="true">
                <ng-template>
                  <ion-datetime presentation="date" (ionChange)="onDateChange($event, datePopover)">
                  </ion-datetime>
                </ng-template>
              </ion-popover>
            </ion-col>

            <ion-col size="6">
              <ion-item>
                <ion-label>Offer Validity (days)</ion-label>
                <ion-select formControlName="offerValidity" placeholder="Select Validity">
                  <ion-select-option value="2">2 Days</ion-select-option>
                  <ion-select-option value="7">7 Days</ion-select-option>
                </ion-select>
              </ion-item>

            </ion-col>
          </ion-row>

          <!-- <ion-row>
            <ion-col>
              <ion-button expand="block" type="submit">Save DOJ</ion-button>
            </ion-col>
          </ion-row> -->
        </form>
      </ion-list>
    </div>

    <!-- RIGHT: Candidate Details -->
    <div class="right-section">
      <h6>Candidate Details</h6>
      <ion-card>
        <ion-card-content>
          <div class="candidate-header">
            <div class="avatar">{{candidate?.personalDetails?.initials}}</div>
            <div>
              <h2>{{candidate?.personalDetails?.FirstName}}</h2>
              <p>Applied for {{candidate?.jobDetailsForm?.JobTitle}}</p>
            </div>
          </div>

          <div class="candidate-info">
            <p><strong>Email ID:</strong> {{candidate?.personalDetails?.email}}</p>
            <p><strong>Phone Number:</strong> {{candidate?.personalDetails?.PhoneNumber}}</p>
            <p><strong>Joining Date:</strong> {{candidate?.offerDetails?.JoiningDate}}</p>
            <p><strong>Source:</strong> Direct Offer</p>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>