<div class="loading-container" [attr.data-size]="size">
  @if (type === 'spinner') {
    <div class="spinner-wrapper">
      <ion-spinner name="crescent"></ion-spinner>
      @if (message) {
        <p class="loading-message">{{ message }}</p>
      }
    </div>
  } @else if (type === 'skeleton') {
    <div class="skeleton-wrapper">
      <div class="skeleton-line"></div>
      <div class="skeleton-line"></div>
      <div class="skeleton-line short"></div>
    </div>
  } @else if (type === 'dots') {
    <div class="dots-wrapper">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  }
</div>
