<ion-content [fullscreen]="true" class="admin-dashboard ion-padding">
  <div class="top-bar">
    <h1>Manage and maintain organizational master data</h1>
    <p>Track and manage all organizational information</p>
  </div>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="manage-block">

        <ion-card (click)="emp()" class="clickable-card">
          <ion-card-header>
            <div class="card-icon-wrapper">
              <img src="assets/icon/emploees_manage.svg" width="48" class="blue-img"
                onerror="this.src='../../assets/Profile_Picture.png'">
            </div>
            <ion-card-title>Employees List</ion-card-title>
            <p>Monitor and maintain employee records</p>
            <ion-button fill="clear" color="light" class="card-btn">
              Employee Details <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-card-header>
        </ion-card>

        <ion-card (click)="dep()" class="clickable-card">
          <ion-card-header>
            <div class="card-icon-wrapper">
              <img src="assets/icon/Org-master-data.svg" width="48"
                onerror="this.src='../../assets/Profile_Picture.png'">
            </div>
            <ion-card-title>Organization Master Data</ion-card-title>
            <p>Access and manage core organizational lists and settings.</p>
            <ion-button fill="clear" color="light" class="card-btn">
              Org Setup <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-card-header>
        </ion-card>

        <ion-card (click)="adminsetup()" class="clickable-card">
          <ion-card-header>
            <div class="card-icon-wrapper">
              <img src="assets/icon/roles-management.svg" width="48"
                onerror="this.src='../../assets/Profile_Picture.png'">
            </div>
            <ion-card-title>Role & Access Management</ion-card-title>
            <p>Assign roles and permissions for HR, managers and admin</p>
            <ion-button fill="clear" color="light" class="card-btn">
              Roles & Access <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-card-header>
        </ion-card>

        <ion-card (click)="adminleaves()" class="clickable-card">
          <ion-card-header>
            <div class="card-icon-wrapper">
              <img src="assets/icon/leave-management.svg" width="48"
                onerror="this.src='../../assets/Profile_Picture.png'">
            </div>
            <ion-card-title>Leave Management</ion-card-title>
            <p>Manage leave types, plans, and balance initialization.</p>
            <ion-button fill="clear" color="light" class="card-btn">
              Leave Configuration <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-card-header>
        </ion-card>

        <ion-card (click)="projectsetup()" class="clickable-card">
          <ion-card-header>
            <div class="card-icon-wrapper">
              <img src="assets/icon/project_blue.svg" width="48" onerror="this.src='../../assets/Profile_Picture.png'">
            </div>
            <ion-card-title>Projects Management</ion-card-title>
            <p>All client, project, and shift information—organized and up to date.</p>
            <ion-button fill="clear" color="light" class="card-btn">
              Projects & Shifts <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>