<ion-header>
  <ion-toolbar>
    <ion-title>Candidate Form</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Candidate Form -->
  <form [formGroup]="candidateForm" (ngSubmit)="submitForm()">

    <!-- PERSONAL DETAILS -->
    <div formGroupName="personalDetails">
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input formControlName="firstName"></ion-input>
      </ion-item>
      <ion-note color="danger"
        *ngIf="candidateForm.get('personalDetails.FirstName')?.touched && candidateForm.get('personalDetails.FirstName')?.invalid">
        First Name is required
      </ion-note>

      <ion-item>
        <ion-label position="floating">Middle Name</ion-label>
        <ion-input formControlName="MiddleName"></ion-input>
      </ion-item>
      <ion-note color="danger"
        *ngIf="candidateForm.get('personalDetails.MiddleName')?.touched && candidateForm.get('personalDetails.MiddleName')?.invalid">
        Middle Name is required
      </ion-note>

      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input formControlName="lastName"></ion-input>
      </ion-item>
      <ion-note color="danger"
        *ngIf="candidateForm.get('personalDetails.LastName')?.touched && candidateForm.get('personalDetails.LastName')?.invalid">
        Last Name is required
      </ion-note>

      <ion-item>
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input formControlName="PhoneNumber" type="tel"></ion-input>
      </ion-item>
      <ion-note color="danger"
        *ngIf="candidateForm.get('personalDetails.PhoneNumber')?.touched && candidateForm.get('personalDetails.PhoneNumber')?.invalid">
        Phone number is required
      </ion-note>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <ion-note color="danger"
        *ngIf="candidateForm.get('personalDetails.email')?.touched && candidateForm.get('personalDetails.email')?.invalid">
        Please enter a valid email
      </ion-note>

      <ion-item>
        <ion-select formControlName="gender" placeholder="Gender">
          <ion-select-option value="male">Male</ion-select-option>
          <ion-select-option value="female">Female</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-note color="danger"
        *ngIf="candidateForm.get('personalDetails.gender')?.touched && candidateForm.get('personalDetails.gender')?.invalid">
        Gender is required
      </ion-note>
    </div>

    <!-- JOB DETAILS -->
    <h5>Job Details</h5>
    <div formGroupName="jobDetailsForm">
      <ion-item>
        <ion-select formControlName="JobTitle" placeholder="Job Title">
          <ion-select-option value="UI/UX Designer">UI/UX Designer</ion-select-option>
          <ion-select-option value="UI Developer">UI Developer</ion-select-option>
          <ion-select-option value="Software Engineer">Software Engineer</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-note color="danger"
        *ngIf="candidateForm.get('jobDetailsForm.JobTitle')?.touched && candidateForm.get('jobDetailsForm.JobTitle')?.invalid">
        Job Title is required
      </ion-note>

      <ion-item>
        <ion-select formControlName="Department" placeholder="Department">
          <ion-select-option value="HR">HR</ion-select-option>
          <ion-select-option value="Finance">Finance</ion-select-option>
          <ion-select-option value="IT Development">IT Development</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-note color="danger"
        *ngIf="candidateForm.get('jobDetailsForm.Department')?.touched && candidateForm.get('jobDetailsForm.Department')?.invalid">
        Department is required
      </ion-note>

      <ion-item>
        <ion-select formControlName="JobLocation" placeholder="JobLocation">
          <ion-select-option value="Site 2 - Visakhapatnam - Day Shift">Site 2 - Visakhapatnam - Day
            Shift</ion-select-option>
          <ion-select-option value="Site 1 - Hyderabad - Night Shift">Site 1 - Hyderabad - Night
            Shift</ion-select-option>
          <ion-select-option value="Site 3 - Visakhapatnam - Day Shift">Site 3 - Visakhapatnam - Day
            Shift"></ion-select-option>
        </ion-select>
      </ion-item>
      <ion-note color="danger"
        *ngIf="candidateForm.get('jobDetailsForm.JobLocation')?.touched && candidateForm.get('jobDetailsForm.JobLocation')?.invalid">
        Job Location is required
      </ion-note>

      <ion-item>
        <ion-select formControlName="WorkType" placeholder="WorkType">
          <ion-select-option value="Perminent">Perminent</ion-select-option>
          <ion-select-option value="IT Development">Part Time</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-note color="danger"
        *ngIf="candidateForm.get('jobDetailsForm.WorkType')?.touched && candidateForm.get('jobDetailsForm.WorkType')?.invalid">
        Work Type is required
      </ion-note>

      <ion-item>
        <ion-select formControlName="BussinessUnit" placeholder="BussinessUnit">
          <ion-select-option value="Tech Tammina Visakhapatnam">Tech Tammina Visakhapatnam</ion-select-option>
          <ion-select-option value="Sri Tech Tammina Visakhapatnam">Sri Tech Tammina Visakhapatnam</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-note color="danger"
        *ngIf="candidateForm.get('jobDetailsForm.BussinessUnit')?.touched && candidateForm.get('jobDetailsForm.BussinessUnit')?.invalid">
        Business Unit is required
      </ion-note>

      <!-- <ion-item>
    <ion-label position="stacked">Select Date</ion-label>
    <ion-input
      id="date-input"
      formControlName="DOJ"
      [placeholder]="selectedDate"
      readonly>
    </ion-input>
  </ion-item>

  <ion-popover #datePopover trigger="date-input" show-backdrop="true">
    <ng-template>
      <ion-datetime
        presentation="date"
        (ionChange)="onDateChange($event, datePopover)">
      </ion-datetime>
    </ng-template>
  </ion-popover>

    <ion-note color="danger" *ngIf="candidateForm.get('jobDetailsForm.DOJ')?.touched && candidateForm.get('jobDetailsForm.DOJ')?.invalid">
      DOJ is required
    </ion-note>
        <ion-item>
      <ion-label position="floating">Package</ion-label>
      <ion-input formControlName="Package"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="candidateForm.get('jobDetailsForm.Package')?.touched && candidateForm.get('jobDetailsForm.Package')?.invalid">
      Package is required
    </ion-note> -->
    </div>

    <ion-button expand="full" type="submit">Submit</ion-button>
  </form>

</ion-content>