<ion-header>
  <!-- <app-header></app-header> -->
  <app-onboarding-mainheader></app-onboarding-mainheader>
</ion-header>
<ion-toolbar>
  <ion-title>New Joiners</ion-title>
</ion-toolbar>
<ion-toolbar class="subheader">
  <ion-text color="medium" class="subtitle">
    Candidates who are marked as hired and not yet added as employees.
  </ion-text>
</ion-toolbar>

<ion-content fullscreen>
  <!-- Filters -->
  <div class="filters">
    <ion-grid class="filters-grid">
      <ion-row class="ion-align-items-center">
        <ion-col size="12" size-md="3">
          <div class="filter-chip">
            <span>Department</span>
            <ion-icon name="chevron-down-outline"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="12" size-md="3">
          <div class="filter-chip">
            <span>Location</span>
            <ion-icon name="chevron-down-outline"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="12" size-md="3">
          <div class="filter-chip">
            <span>Job Title</span>
            <ion-icon name="chevron-down-outline"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="12" size-md="3">
          <div class="search-wrap">
            <ion-icon name="search-outline"></ion-icon>
            <input placeholder="Search" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Tabs -->
  <div class="tabs">
    <div class="tab active">Pending <span class="count">0</span></div>
    <div class="tab">Today <span class="count">1</span></div>
    <div class="tab">Tomorrow <span class="count">0</span></div>
    <div class="tab">Day after <span class="count">1</span></div>
    <div class="tab">Later <span class="count">0</span></div>
  </div>

  <!-- Table -->
  <ion-grid class="table ion-padding">
    <ion-row class="table-header">
      <ion-col class="col-2">NAME &amp; JOB TITLE</ion-col>
      <ion-col class="col-2">DEPT. &amp; LOCATION</ion-col>
      <ion-col class="col-2">JOINING DATE</ion-col>
      <ion-col class="col-2">TASKS</ion-col>
      <ion-col class="col-2">Contact info</ion-col>
      <ion-col class="col-2">ACTIONS</ion-col>
    </ion-row>

    <ion-row class="table-row" *ngFor="let items of candidateList">
      <ion-col class="col-12" *ngIf="candidateList.length === 0">No records found</ion-col>
      <ion-col class="col-2">{{items.personalDetails.FirstName}} {{items.personalDetails.MiddleName}}</ion-col>
      <ion-col class="col-2">{{items.jobDetailsForm.JobTitle}}</ion-col>
      <ion-col class="col-2">{{items.jobDetailsForm.Department}} && {{items.jobDetailsForm.JobLocation}}</ion-col>
      <ion-col class="col-2">{{items.offerDetails.DOJ}}</ion-col>
      <ion-col class="col-2">{{items.personalDetails.PhoneNumber}}</ion-col>
      <ion-col class="col-2"></ion-col>

    </ion-row>
  </ion-grid>
</ion-content>