<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="timesheets">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Timesheet</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="team-compliance" *ngIf="isManagerOrHR">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Compliance</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="manager-approvals" *ngIf="isManagerOrHR">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <ion-label>Approvals</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="verification-queue" *ngIf="isHROrAdmin">
      <ion-icon name="checkmark-done-outline"></ion-icon>
      <ion-label>Verify</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
