/* Payroll Admin Page Styles */

:host {
  display: block;
}

h2, h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

ion-list {
  margin-bottom: 2rem;
}

ion-item {
  --padding-start: 0;
}

ion-button {
  margin-left: 0.5rem;
}

form ion-item {
  margin-bottom: 0.5rem;
}

.loading {
  text-align: center;
  margin: 2rem 0;
}
