    <div class="header-row">
      <div>
        <h2>Offer templates</h2>
        <p class="subtitle">
          List of all templates that are used to create offers for candidate in offer process.
        </p>
      </div>
      <ion-button class="btn-create">+ Create offer template</ion-button>
    </div>
      <ion-select placeholder="Template Status" interface="popover">
        <ion-select-option value="all">All</ion-select-option>
        <ion-select-option value="active">Active</ion-select-option>
        <ion-select-option value="inactive">Inactive</ion-select-option>
      </ion-select>
      <ion-searchbar placeholder="Search"></ion-searchbar>
    <div class="filter-row">

      <ion-card class="table-card">
      <ion-card-content>
        <table class="offer-table">
          <thead>
            <tr>
              <th>NAME OF THE TEMPLATE</th>
              <th>CREATED BY</th>
              <th>LAST USED</th>
              <th>LAST UPDATED BY</th>
              <th>ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="#" class="template-link">Custom Offer Letter Template</a>
                <div class="template-desc">It is a Custom Offer Letter Template.</div>
              </td>
              <td>NA</td>
              <td>NA</td>
              <td>NA</td>
              <td><ion-icon name="ellipsis-vertical"></ion-icon></td>
            </tr>
            <tr>
              <td>
                <a href="#" class="template-link">SVS Towers</a>
                <div class="template-desc">SVS Towers</div>
              </td>
              <td>NA</td>
              <td>05 Aug 2025</td>
              <td>
                <div class="user-info">
                  <div class="avatar">U</div>
                  Lepakshi Ji<br>
                  <span class="date">on 23 Jul 2025</span>
                </div>
              </td>
              <td><ion-icon name="ellipsis-vertical"></ion-icon></td>
            </tr>
            <tr>
              <td>
                <a href="#" class="template-link">Hyd-Offer Letter</a>
                <div class="template-desc">Hyd-Offer Letter</div>
              </td>
              <td>
                <div class="user-info">
                  <div class="avatar">LJ</div>
                  Lepakshi Ji<br>
                  <span class="date">on 23 Jul 2025</span>
                </div>
              </td>
              <td>06 Aug 2025</td>
              <td>
                <div class="user-info">
                  <div class="avatar">LJ</div>
                  Lepakshi Ji<br>
                  <span class="date">on 23 Jul 2025</span>
                </div>
              </td>
              <td><ion-icon name="ellipsis-vertical"></ion-icon></td>
            </tr>
          </tbody>
        </table>

        <!-- Pagination -->
        <div class="pagination">
          <span>1 to 3 of 3</span>
          <div class="page-controls">
            <ion-icon name="chevron-back-outline"></ion-icon>
            <span>Page 1 of 1</span>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
