<ion-card [class.clickable]="clickable" [class.loading]="loading">
  <ion-card-content>
    <div class="stat-card-container">
      <div class="stat-content">
        <div class="stat-header">
          <span class="stat-title">{{ title }}</span>
          @if (icon) {
            <ion-icon [name]="icon" [color]="iconColor"></ion-icon>
          }
        </div>
        
        @if (loading) {
          <div class="stat-skeleton">
            <div class="skeleton-line large"></div>
            @if (subtitle) {
              <div class="skeleton-line small"></div>
            }
          </div>
        } @else {
          <div class="stat-value">{{ value }}</div>
          
          @if (subtitle) {
            <div class="stat-subtitle">{{ subtitle }}</div>
          }
          
          @if (trend && trendValue) {
            <div class="stat-trend" [attr.data-trend]="trend">
              <ion-icon [name]="getTrendIcon()" [color]="getTrendColor()"></ion-icon>
              <span>{{ trendValue }}</span>
            </div>
          }
        }
      </div>
    </div>
  </ion-card-content>
</ion-card>
