<ion-header>
    <!-- <app-header></app-header> -->
  <app-onboarding-mainheader></app-onboarding-mainheader>
</ion-header>

<ion-content class="setup-container">
  <div class="setup-header">
    <h2>Setup your preboarding experience</h2>
    <p>
      Follow the below steps to curate prejoining in your organization.
    </p>
  </div>
  <div class="d-flex">
  <div class="left-cards">
 <ion-card class="custom-card">
    <div class="card-content">
      <div class="card-info">
        <h2>Onboarding task template(s)</h2>
        <p>Setup task(s) to collect and verify info from candidates</p>
      </div>
      <div class="card-status">
        <span class="status completed">Completed on 03 Jun 2025</span>
        <ion-button fill="solid" color="primary" size="small">Setup</ion-button>
      </div>
    </div>
  </ion-card>

  <!-- Card 2 -->
  <ion-card class="custom-card">
    <div class="card-content">
      <div class="card-info">
        <h2>Offer letter template(s)</h2>
        <p>Setup offer letter template(s) to roll out an offer to candidates</p>
      </div>
      <div class="card-status">
        <span class="status completed">Completed on 17 Jun 2025</span>
        <ion-button fill="solid" color="primary" size="small">Setup</ion-button>
      </div>
    </div>
  </ion-card>

  <!-- Card 3 -->
  <ion-card class="custom-card">
    <div class="card-content">
      <div class="card-info">
        <h2>Candidate experience portal <span class="optional">(Optional)</span></h2>
        <p>Setup your candidates prejoining experience through the portal</p>
      </div>
      <div class="card-status">
        <ion-button fill="outline" color="medium" size="small">Skip Setup</ion-button>
        <ion-button fill="solid" color="primary" size="small">Setup</ion-button>
      </div>
    </div>
  </ion-card>
</div>
  <!-- Quick Links -->
   <div class="right-cards">
  <ion-card class="quick-links">
    <h3>Quick links</h3>
    <ul>
      <li><a href="#">How to add Task templates</a></li>
      <li><a href="#">Create Offer templates</a></li>
      <li><a href="#">Setup candidate experience portal</a></li>
    </ul>
  </ion-card>
</div>
</div>
</ion-content>


