<ion-app>
  <app-header *ngIf="!isLoginPage"></app-header>

  <ion-split-pane contentId="main-content" [disabled]="isLoginPage" [class.is-authenticated]="!isLoginPage">
    <!-- SIDENAV MENU -->
    <ion-menu contentId="main-content" type="overlay" class="side-menu-container" *ngIf="showMenu">
      <ion-content class="sidenav-content">
        <ion-list lines="none" class="side-menu-list">
          <ng-container *ngFor="let p of appPages">
            <ng-container *ngIf="shouldShowPage(p)">
              <!-- Main Item (Parent) -->
              <ion-menu-toggle auto-hide="false" *ngIf="!p.children">
                <ion-item routerDirection="root" [routerLink]="[p.url]" routerLinkActive="selected" class="menu-nav-item">
                  <div class="row-left">
                    <img [src]="getCustomIconPath(p.icon)" alt="{{ p.title }}" class="custom-menu-icon" />
                    <ion-label>{{ p.title }}</ion-label>
                  </div>
                </ion-item>
              </ion-menu-toggle>

              <!-- Parent with Children -->
              <div *ngIf="p.children" class="submenu-wrapper">
                <ion-item (click)="toggleSubmenu(p)" class="menu-nav-item parent-item" [class.expanded]="p.isExpanded">
                  <div class="row-left">
                    <img [src]="getCustomIconPath(p.icon)" alt="{{ p.title }}" class="custom-menu-icon" />
                    <ion-label>{{ p.title }}</ion-label>
                  </div>
                  <ion-icon slot="end" [name]="p.isExpanded ? 'chevron-down' : 'chevron-forward'" class="submenu-toggle-icon"></ion-icon>
                </ion-item>

                <div class="sub-items-container" *ngIf="p.isExpanded">
                  <ng-container *ngFor="let sub of p.children">
                    <ion-menu-toggle auto-hide="false" *ngIf="shouldShowPage(sub)">
                      <ion-item routerDirection="root" [routerLink]="[sub.url]" routerLinkActive="selected" class="menu-nav-item sub-item">
                        <div class="row-left">
                          <img [src]="getCustomIconPath(sub.icon)" alt="{{ sub.title }}" class="custom-menu-icon sub-icon" />
                          <ion-label>{{ sub.title }}</ion-label>
                        </div>
                      </ion-item>
                    </ion-menu-toggle>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </ng-container>

          <ion-item (click)="logout()" class="menu-nav-item logout-item">
            <div class="row-left">
              <img src="assets/icons/menu/logout.svg" alt="Log out" class="custom-menu-icon inactive-icon" />
              <img src="assets/icons/menu/logout.svg" alt="Log out" class="custom-menu-icon active-icon" />
              <ion-label>Log out</ion-label>
            </div>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- MAIN CONTENT -->
    <ion-router-outlet id="main-content" [class.is-login-page]="isLoginPage"></ion-router-outlet>
  </ion-split-pane>
</ion-app>