<ion-app>
  <!-- Animated Intro/Splash Screen -->
  <div class="app-intro-screen" *ngIf="showIntro" [class.fade-out]="fadeOutIntro">
    <div class="sky-background">
      <div class="cloud cloud-1"></div>
      <div class="cloud cloud-2"></div>
      <div class="cloud cloud-3"></div>
      <div class="cloud cloud-4"></div>
    </div>
    
    <div class="logo-box animate__animated animate__zoomIn">
      <img src="assets/tt_blue_logo.png" alt="Tech Tammina Logo" class="intro-logo" />
      <div class="loading-bar">
        <div class="loading-progress"></div>
      </div>
    </div>
  </div>

  <app-header *ngIf="!isLoginPage"></app-header>

  <ion-split-pane contentId="main-content" [disabled]="isLoginPage" [class.is-authenticated]="!isLoginPage">
    <!-- SIDENAV MENU -->
    <ion-menu contentId="main-content" type="overlay" class="side-menu-container" *ngIf="showMenu">
      <ion-content class="sidenav-content">
        <!-- BRAND HEADER -->
        <!-- <div class="menu-header">
          <img src="/assets/TT_blue_logo.svg" alt="Brand Logo" class="brand-logo" />
        </div> -->



        <ion-list lines="none" class="side-menu-list">
          <ng-container *ngFor="let p of appPages">
            <ng-container *ngIf="shouldShowPage(p)">
              <!-- Standard Item -->
              <ion-menu-toggle auto-hide="false" *ngIf="!p.children">
                <ion-item routerDirection="root" [routerLink]="[p.url]" routerLinkActive="selected"
                  class="menu-nav-item">
                  <div class="row-left">
                    <img [src]="getCustomIconPath(p.icon)" alt="{{ p.title }}" class="custom-menu-icon inactive-icon" />
                    <img [src]="getCustomIconPath(p.icon)" alt="{{ p.title }}" class="custom-menu-icon active-icon" />
                    <ion-label>{{ p.title }}</ion-label>
                  </div>
                </ion-item>
              </ion-menu-toggle>

              <!-- Expandable Parent Item -->
              <div *ngIf="p.children" class="submenu-wrapper">
                <ion-item [id]="'menu-trigger-' + p.icon" class="menu-nav-item parent-item"
                  [class.selected]="isSubmenuActive(p)">
                  <div class="row-left">
                    <img [src]="getCustomIconPath(p.icon)" alt="{{ p.title }}" class="custom-menu-icon inactive-icon" />
                    <img [src]="getCustomIconPath(p.icon)" alt="{{ p.title }}" class="custom-menu-icon active-icon" />
                    <ion-label>{{ p.title }}</ion-label>
                  </div>
                </ion-item>

                <!-- Popover Submenu -->
                <ion-popover [trigger]="'menu-trigger-' + p.icon" side="end" alignment="start" triggerAction="hover"
                  class="custom-submenu-popover" [showBackdrop]="false" keyboardClose="false">
                  <ng-template>
                    <ion-list lines="none" class="submenu-popover-list">
                      <ng-container *ngFor="let sub of p.children">
                        <ion-menu-toggle auto-hide="false" *ngIf="shouldShowPage(sub)">
                          <ion-item routerDirection="root" [routerLink]="[sub.url]" routerLinkActive="selected"
                            class="submenu-popover-item">
                            <ion-label>{{ sub.title }}</ion-label>
                          </ion-item>
                        </ion-menu-toggle>
                      </ng-container>
                    </ion-list>
                  </ng-template>
                </ion-popover>
              </div>
            </ng-container>
          </ng-container>

          <!-- LOGOUT ACTION -->
          <ion-item (click)="logout()" class="menu-nav-item logout-item">
            <div class="row-left">
              <img src="/assets/icons/menu/logout.svg" alt="Log out" class="custom-menu-icon inactive-icon" />
              <img src="/assets/icons/menu/logout.svg" alt="Log out" class="custom-menu-icon active-icon" />
              <ion-label>Log out</ion-label>
            </div>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- MAIN APP CONTENT -->
    <ion-router-outlet id="main-content" [class.is-login-page]="isLoginPage"></ion-router-outlet>
  </ion-split-pane>
</ion-app>