<div class="row-left content-detail-block" *ngIf="currentEmployee">
  <!-- Primary Details -->
  <div class="ion-card">
    <p class="header-text row-space-between">
      Primary Details
    </p>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6">
          <div class="info-group">
            <p>First Name</p>
            <h6>{{currentEmployee.FullName}}</h6>
          </div>
          <div class="info-group">
            <p>Gender</p>
            <h6>{{currentEmployee?.Gender || '-'}}</h6>
          </div>
          <div class="info-group">
            <p>Marital Status</p>
            <h6>{{currentEmployee?.MaritalStatus || '-'}}</h6>
          </div>
          <div class="info-group" *ngIf="canViewDOB">
            <p>Date of Birth</p>
            <h6>{{(currentEmployee?.DateOfBirth | date:'dd-MM-yyyy') || '-'}}</h6>
          </div>
          <div class="info-group">
            <p>Phone Number</p>
            <h6>{{currentEmployee?.mobile_number || currentEmployee?.PhoneNumber || '-'}}</h6>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="info-group">
            <p>Last Name</p>
            <h6>{{currentEmployee?.LastName || '-'}}</h6>
          </div>
          <div class="info-group">
            <p>Blood Group</p>
            <h6>{{currentEmployee.BloodGroup || '-'}}</h6>
          </div>
          <div class="info-group">
            <p>Physically Handicapped</p>
            <h6>{{currentEmployee?.PhysicallyHandicapped || '-'}}</h6>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Contact Details -->
  <div class="ion-card">
    <p class="header-text row-space-between">
      Contact Details
    </p>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6">
          <div class="info-group">
            <p>Work Email</p>
            <h6>{{currentEmployee?.WorkEmail || '-'}}</h6>
          </div>
          <div class="info-group">
            <p>Aadhaar Number</p>
            <h6>{{currentEmployee?.AadhaarNumber || '-'}}</h6>
          </div>
          <div class="info-group">
            <p>Residence Number</p>
            <h6>{{currentEmployee?.residence_number || '-'}}</h6>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="info-group">
            <p>Personal Email</p>
            <h6>{{currentEmployee?.PersonalEmail || '-'}}</h6>
          </div>
          <div class="info-group">
            <p>PF Number</p>
            <h6>{{currentEmployee?.pf_number || '-'}}</h6>
          </div>
          <div class="info-group">
            <p>UAN Number</p>
            <h6>{{currentEmployee?.uan_number || '-'}}</h6>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>

<div class="row-left content-detail-block address-section" *ngIf="currentEmployee">
  <!-- Address Details -->
  <div class="ion-card full-width">
    <p class="header-text row-space-between">
      Addresses
    </p>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6">
          <div class="info-group">
            <p>Current Address</p>
            <h6>{{currentEmployee?.current_address_line1 || '-'}}</h6>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="info-group">
            <p>Permanent Address</p>
            <h6>{{currentEmployee?.permanent_address_line1 || '-'}}</h6>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>